@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --table-border:#555;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}


@keyframes blink {
  0% {
    background-color: #ebf8ff;
  }

  50% {
    background-color: #bee3f8;
  }

  100% {
    background-color: transparent;
  }
}

.blink-row {
  animation: blink 1s ease-in-out 3;
}
.table-header-10 {
  font-size: 12px;
  font-weight: 500;
  padding: 0.5rem;
  
}
.table-body-10 {
  font-size: 12px;
  font-weight: 600;
  padding: 0.5rem;

}
.table-footer-10 {
  font-size: 12px;
  font-weight: 500;
  padding: 0.5rem;

}

.input-date {
  border: 1px solid #eee;
  height: 31px;
}